{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Travel</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="{% static 'webstatic123/assets/img/favicon.png' %}">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{% static 'webstatic123/assets/css/all.min.css' %}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'webstatic123/assets/bootstrap/css/bootstrap.min.css' %}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{% static 'webstatic123/assets/css/owl.carousel.css' %}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{% static 'webstatic123/assets/css/magnific-popup.css' %}">
	<!-- animate css -->
	<link rel="stylesheet" href="{% static 'webstatic123/assets/css/animate.css' %}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{% static 'webstatic123/assets/css/meanmenu.min.css' %}">
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'webstatic123/assets/css/main.css' %}">
	<!-- responsive -->
	<link rel="stylesheet" href="{% static 'webstatic123/assets/css/responsive.css' %}">

</head>
<body>
	
	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
	
	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="index.html">
								<img src="{% static 'webstatic123/assets/img/'' %}" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								
								<li><a href="{% url 'about' %}">About</a></li>
								
								<li><a href="{% url 'contact' %}">Contact</a></li>
								<li><a href="{% url 'register' %}">Register</a></li>

								{% if 'name' in request.session %}
								<li><a href="">Hi {{request.session.name}}</a></li>
								<li><a href="{% url 'logout' %}">Logout</a></li>
								{% else %}
								<li><a href="{% url 'userlogin' %}">Login</a></li>
								{% endif %}
							<li></li>

							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->
	
	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search area -->

	<!-- hero area -->
	<div class="hero-area hero-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 offset-lg-2 text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<p class="subtitle">Happy trip</p>
							<h1>How to plan a stress-free vacation</h1>
							<div class="hero-btns">
								<a href="{% url 'web' %}" class="boxed-btn">trip</a>
								<a href="{% url 'contact' %}" class="bordered-btn">contact us</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end hero area -->

	<!-- features list section -->
	<div class="list-section pt-80 pb-80">
		<div class="container">

			<div class="row">
				
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-phone-volume"></i>
						</div>
						<div class="content">
							<h3>24/7 Support</h3>
							<p>Get support all day</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="list-box d-flex justify-content-start align-items-center">
						<div class="list-icon">
							<i class="fas fa-sync"></i>
						</div>
						<div class="content">
							<h3>Refund</h3>
							<p>Get refund within 3 days!</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- end features list section -->

	<!-- product section -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">Our</span> Destination</h3>
						<p>Life is a journey, enjoy the trip. Aim for the sky, but move slowly, enjoying every step along the way. It is all those little steps that make the journey complete. The journey is a reward. Stay patient and trust your journey.</p>
					</div>
				</div>
			</div>

			<div class="row">
			
				{% for i in data %}
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
					<div class="single-product-item" style="width: 350px; height: 419px;">
						<div class="product-image">
							<a href="single-product.html"><img src="{{i.photo.url}}" alt=""></a>
						</div>
						<h3>{{i.name}}</h3>
						<p class="product-price"><span>{{i.location}}</span> {{i.price}}/- </p>
						
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<!-- end product section -->

	<!-- cart banner section -->
	<section class="cart-banner pt-100 pb-100">
    	<div class="container">
        	<div class="row clearfix">
            	<!--Image Column-->
            	<div class="image-column col-lg-6">
                	<div class="image">
                    	<div class="price-box">
                        	<div class="inner-price">
                                <span class="price">
                                    <strong>30%</strong> <br> off 
                                </span>
                            </div>
                        </div>
                    	<img src="{% static 'webstatic123/assets/img/area.jpg' %}" alt="">
                    </div>
                </div>
                <!--Content Column-->
                <div class="content-column col-lg-6">
					<h3><span class="orange-text">Deal</span> of the month</h3>
                    <h4>Any where</h4>
                    <div class="text">We travel not escape life but love to enjoy adventurous things. Travel does well. Travel is the only thing that you buy to make you richer. </div>
                    <!--Countdown Timer-->
                    <div class="time-counter"><div class="time-countdown clearfix" data-countdown="2020/2/01"><div class="counter-column"><div class="inner"><span class="count">00</span>Days</div></div> <div class="counter-column"><div class="inner"><span class="count">00</span>Hours</div></div>  <div class="counter-column"><div class="inner"><span class="count">00</span>Mins</div></div>  <div class="counter-column"><div class="inner"><span class="count">00</span>Secs</div></div></div></div>
                	
                </div>
            </div>
        </div>
    </section>
    <!-- end cart banner section -->

	<!-- testimonail-section -->
	<div class="testimonail-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1 text-center">
					<div class="testimonial-sliders">
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="{% static 'webstatic123/assets/img/avaters/avatar1.jpg' %}" alt="">
							</div>
							<div class="client-meta">
								<h3>Ann Frank<span></h3>
								<p class="testimonial-body">
									"Travel is the only thing you buy that makes you richer”
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="{% static 'webstatic123/assets/img/avaters/avatar2.jpg' %}" alt="">
							</div>
							<div class="client-meta">
								<h3>Kalpana Chawla <span></h3>
								<p class="testimonial-body">
									"Travel on your own way, don't decide others.”
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="{% static 'webstatic123/assets/img/avaters/avatar3.jpg' %}" alt="">
							</div>
							<div class="client-meta">
								<h3>santhosh george kulangara</h3>
								<p class="testimonial-body">
									"make your trip on your dream"
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end testimonail-section -->
	
	<!-- advertisement section -->
	<div class="abt-section mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<div class="abt-bg">
						<a href="https://www.youtube.com/watch?v=k8ptASDghGw" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
					</div>
				</div>
				<div class="col-lg-6 col-md-12">
					<div class="abt-text">
						<p class="top-sub">Since Year 2015</p>
						<h2>Time to<span class="orange-text">Travel</span></h2>
						<p style="text-align: justify;"><span class="orange-text">While giving a lecture, he talks about time travel and the possibility of visitors from the future. Several scenes are set in the vault for the decrepit council members overseeing the time travel operation. Later stories saw them develop time travel and a space empire.</span></p>
					
						<a href="https://www.google.com/search?q=time+to+travel&bih=600&biw=1366&hl=en&sxsrf=APq-WBvJ44fXcWZJmif0LcQ-4EcphaxBgA%3A1646127347093&ei=8-gdYq2lBaqF4-EP5YqdgAk&ved=0ahUKEwjt6pyezqT2AhWqwjgGHWVFB5AQ4dUDCA4&uact=5&oq=time+to+travel&gs_lcp=Cgdnd3Mtd2l6EAMyBAgjECcyBAgjECcyBQgAEJECMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDoHCCMQsAMQJzoHCAAQRxCwAzoKCAAQRxCwAxDJAzoICAAQkgMQsAM6CggAEOQCELADGAA6FQguEMcBEKMCENQCEMgDELADEEMYAToSCC4QxwEQowIQyAMQsAMQQxgBOhIILhDHARDRAxDIAxCwAxBDGAE6DAguEMgDELADEEMYAToHCCMQsQIQJzoGCAAQBxAeOgcIABCxAxAKOgcIABCxAxBDOggIABCABBCxAzoFCC4QgAQ6BwgjELACECc6BAgAEA1KBAhBGABKBAhGGAFQngpYohpgyx9oAXABeACAAXmIAfoGkgEDMC44mAEAoAEByAETwAEB2gEGCAAQARgJ2gEGCAEQARgI&sclient=gws-wiz" class="boxed-btn mt-4">know more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end advertisement section -->
	
	<!-- shop banner -->
	<section class="shop-banner">
    	<div class="container">
        	<h3>December is on! <br> with big <span class="orange-text">Discount...</span></h3>
            <div class="sale-percent"><span> <br> Upto</span>50% <span>off</span></div>
            <a href="{% url 'register' %}" class="cart-btn btn-lg">Register Now</a>
        </div>
    </section>
	<!-- end shop banner -->

	<!-- latest news -->
	<div class="latest-news pt-150 pb-150">
		<div class="container">

			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">Our</span> News</h3>
						
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="single-news.html"><div class="latest-news-bg news-bg-1"></div></a>
						<div class="news-text-box">
							<h3><a href="single-news.html">EIPHAL TOWER</a></h3>
							
							<p class="excerpt">The Eiffel Tower—or as the French call it, La Tour Eiffel—is one of the world's most recognizable landmarks.</p>
							<a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="single-news.html"><div class="latest-news-bg news-bg-2"></div></a>
						<div class="news-text-box">
							<h3><a href="single-news.html">INDIA GATE</a></h3>
							
							<p class="excerpt">It was built to pay tribute to the brave soldiers who lost their lives during the Indo-Pak War in December 1971.  </p>
							<a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
					<div class="single-latest-news">
						<a href="single-news.html"><div class="latest-news-bg news-bg-3"></div></a>
						<div class="news-text-box">
							<h3><a href="single-news.html">NAYAGRA WATERFALLS</a></h3>
							
							<p class="excerpt">Niagara Falls consists of two waterfalls on the Niagara River, which marks the border between New York and Ontario, Canada: </p>
							<a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 text-center">
					<a href="news.html" class="boxed-btn">More News</a>
				</div>
			</div>
		</div>
	</div>
	<!-- end latest news -->

	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="{% static 'webstatic123/assets/img/company-logos/1.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{% static 'webstatic123/assets/img/company-logos/2.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{% static 'webstatic123/assets/img/company-logos/3.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{% static 'webstatic123/assets/img/company-logos/4.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{% static 'webstatic123/assets/img/company-logos/5.png' %}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->

	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">About us</h2>
						<p style="text-align: justify;">"You're craving new experiences and new challenges. Travel is the ideal place to test yourself. It pushes people to their limits and gets them outside their comfort zone. You'll discover how resourceful you are when you're exposed to new places, people and experiences"</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li>CRA 40 snehatheeram, Khan Mehaboob, Ernamkulam</li>
							<li>support@planyourtrip.com</li>
							<li>+00 111 222 3333</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href="{% url 'web' %}">Home</a></li>
							<li><a href="{% url 'about' %}">About</a></li>
							<li><a href="{% url 'userlogin' %}">Login</a></li>
							<li><a href="{% url 'contact' %}">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Subscribe</h2>
						<p>Subscribe to our mailing list to get the latest updates.</p>
						<form action="index.html">
							<input type="email" placeholder="Email">
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->
	
	<!-- copyright -->
	
	<!-- end copyright -->
	
	<!-- jquery -->
	<script src="{% static 'webstatic123/assets/js/jquery-1.11.3.min.js' %}"></script>
	<!-- bootstrap -->
	<script src="{% static 'webstatic123/assets/bootstrap/js/bootstrap.min.js' %}"></script>
	<!-- count down -->
	<script src="{% static 'webstatic123/assets/js/jquery.countdown.js' %}"></script>
	<!-- isotope -->
	<script src="{% static 'webstatic123/assets/js/jquery.isotope-3.0.6.min.js' %}"></script>
	<!-- waypoints -->
	<script src="{% static 'webstatic123/assets/js/waypoints.js' %}"></script>
	<!-- owl carousel -->
	<script src="{% static 'webstatic123/assets/js/owl.carousel.min.js' %}"></script>
	<!-- magnific popup -->
	<script src="{% static 'webstatic123/assets/js/jquery.magnific-popup.min.js' %}"></script>
	<!-- mean menu -->
	<script src="{% static 'webstatic123/assets/js/jquery.meanmenu.min.js' %}"></script>
	<!-- sticker js -->
	<script src="{% static 'webstatic123/assets/js/sticker.js' %}"></script>
	<!-- main js -->
	<script src="{% static 'webstatic123/assets/js/main.js' %}"></script>

</body>
</html>